.zoom-instagram-widget__item {
	padding: 0!important;
}

@media only screen and (min-width: 768px) {

	.zoom-instagram-widget__item {
		overflow: hidden;
	}
	
	.zoom-instagram-widget__item a {
		display: block;
		position: relative;
		text-align: center;
	}

	.zoom-instagram-widget__item a::before {
	    font-family: fontAwesome;
	    content: "\f16d";
	    display: inline-block;
	    padding-top: calc(50% - 0.65em);
	    position: absolute;
	    font-size: 4em;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background-color: rgba(255, 255, 255, 0.8);
	    color: $color__active;
	    opacity: 0;
	    transition: opacity 300ms ease-in-out;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;

	}

	.zoom-instagram-widget__item:hover a::before {
		opacity: 1;
	}

	.sidebar-widget .zoom-instagram-widget__item a::before {
		font-size: 2em;
	}


}

